@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400;1,700;1,900&display=swap');

/* Major Style */

* {
    font-family: 'Merriweather', serif;

}

.span-2 {
    color: rgb(236, 13, 20);
}

.red {
    color: red;
}

body {
    background-color: #FFF;
}

/* Header section style now started */

header {
    background-image: url('images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: 50px auto;

}

.container {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: block;
    align-items: center;

}

.contain .container * {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 8px;

}

.container h1 {
    color: #fff;
    font-size: 72px;
}


.container h3 {
    color: #fff;
    font-size: 32px;
}

/*Main Style started*/

/* 60% off styles now started */

.off {
    text-align: center;
    margin-top: 120px;
}

.off h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.off p {
    font-size: 24px;
}

.off h3 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    margin-top: 5px;
}

.imgs {
    /* margin: 48px auto120px auto; */
    position: relative;
    left: 500px;
    top: 48px;
    margin-bottom: 120px;
}

/* Holiday deal section style now started */


.holi{
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
}

.ractangle-2 {
    position: relative;
    right: 130px;
    top: 500px;
}

.ractangle-1 {
    position: relative;
    left: 1190px;
    top: 68px;
}

.group-44 {
    position: relative;
    right: 1520px;
    top: 130px;
}

.group-75 {
    position: relative;
    right: 1450px;
    bottom: 50px;
}

/* Midnight Party section style Start Here */

.span-1 {
    color: #FFF;

}

.container-2 {
    background-image: url('images/Vectorrr.png');
    width: 1320px;
    height: 600px;

}

.container-2 {
    display: flex;
    justify-content: space-evenly;
    margin: 120px auto;
    align-items: center;
}

.container-2 h1 {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 620px;
}

.banner {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#banner-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-2 .banner-text * {
    margin-bottom: 24px;
}

.banner-text {
    width: 692px;
    color: rgba(237, 234, 237, 0.8);
    font-family: 'Merriweather', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

button {
    color: #FFF;
    background: rgb(241, 4, 190);
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
}

/* Hotel Information Style Start Here */

.hotel {
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    margin: 120px auto;
    text-align: center;
    padding-top: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}


.hotel-1 * {
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    align-items: center;

}

.hotel-btn {
    text-align: center;
}

.span {
    color: rgb(8, 0, 255);
}

/* coming soon style Start */

.ellipse{
    position: relative;
    right: 50px;
    bottom: 50px;
}

.coming-soon .coming-soon-1 * {
    margin-bottom: 15px;
    margin-top: 5px;
}

.coming-soon {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 1600px;
    margin: auto;

}

.coming-soon-1 h4 {
    color: blue;
    font-family: 'Merriweather', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.coming-soon-1 h5 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.coming-soon-1 p {
    color: red;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

}

/* Holiday style now Started */

.holiday {
    text-align: center;
    margin-top: 120px;
    justify-content: space-between;
}

.holiday .holidays * {
    margin-bottom: 8px;
    margin-top: 8px;
}

.holidays h4 {
    font-size: 24px;
}

.holidays h1 {
    font-size: 72px;
    font-family: 'Merriweather', serif;
}


.ractangle-2 {
    margin-bottom: 55px;
    margin-top: 0;

}

.ractangle-group {
    margin: auto;
    text-align: center;
}

.ractangles {
    align-items: center;
    display: flex;
}

.group-75 {
    margin-top: 150px;
    margin-bottom: 0;

}


/* gift section style started */
.gift .gift-title * {
    margin-bottom: 5px;
    margin-top: 5px;
}

.gift-title {
    margin-left: 290px;
}

.gift-title h2 {
    font-family: 'Merriweather', serif;
    font-size: 48px;
}

.gift-title p {
    color: rgba(33, 10, 78, 0.648);
}

/* Gift image portfolio section style started */

.portfolio-gift {}

.portfolio-section {
    width: 1320px;
    height: 924px;
    margin: 48px auto;
}

.portfolio-section .portfolio .portfolio-gift * {
    margin: 5px;
}


/* subscribe section style started */

.subscribe {
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 120px auto;
}

.subscribe {
    text-align: center;
}

.email {
    margin: 80px 585px 40px 585px;
}

.subscriber h2 {
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

/* input section style */

.input {
    margin: 48px auto 80px auto;
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #FFF;
    text-align: center;
    padding-top: 40px;


}

.input {
    padding-bottom: 15px;
}

.input-field {
    border: none;
    margin-right: 360px;
    margin-top: 15px;

}

.main-input {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;

}

.btn {
    border-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 55px;
    padding-bottom: 55px;
    color: black;
    background: greenyellow;
    margin-top: 47px;
    margin-right: 500px;



}

/* Footer section style */

.footer {
    width: auto;
    height: 609px;
    flex-shrink: 0;
    background: #070211;
    margin-top: 120px;
}

.address {
    display: flex;
    color: #fff;
    gap: 400px;
    padding: 120px 140px 0px 140px;
}


.paragraph {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin: auto;
}

.heding {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-right: 200px;
}

.icon {
    text-align: center;
    gap: 40px;
    margin: 50px;
}

.contact {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 880px;
    margin-top: 50px;
    margin-bottom: 140px;
    margin-left: 160px;
    text-align: center;
}